@font-face {
    font-family: 'quattrocento sans' ;
    src: url(../fonts/QuattrocentoSans-Regular.ttf);
}
@font-face {
    font-family: 'lucyRose' ;
    src: url(../fonts/LucyRosePERSONAL-Regular.otf);
}
@font-face {
    font-family: 'Cormorant Garamond' ;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}
@font-face {
    font-family: 'Cormorant Italic' ;
    src: url(../fonts/CormorantGaramond-Italic.ttf);
}

body{ background-color:#F3F2EE ;
margin:0;
}
nav{
    display: flex;
    border-top: 2px solid black;
    margin-top: 10px;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 2px;
}
#titolo{margin: 10px 0px;}
nav div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav a {margin :5px}
nav p{margin :5px}
a{
    color:#1e1e1e;
    text-decoration: none;
}
.sx{
    width: 20%;
    border-right: 1px solid black;
    padding-top: 10px;
    font-family:'quattrocento sans';
    font-size: 1.5vw;
}
.dx{
    width: 20%;
    border-left: 1px solid black;
    padding-top: 10px;
    font-family:'quattrocento sans';
    font-size: 1.5vw;
}
.noMarginBottom{
    margin-bottom: 0px;
}
.header{
   font-family:'lucyRose';
   font-size: 4vw;
   color: #1e1e1e;
}
.sottotitolo{
    font-family:'Cormorant Italic';
    font-size: 3vw;
    color: #1e1e1e
}
.link{
    margin: 10px;
    font-family:'lucyRose';
    font-size: 3vw; 
    color: #1e1e1e   
}
.paragrafi{
    font-family:'quattrocento sans';
    font-size: 1.5vw;
    line-height: 30pt;
}
#sottotitoletto{
    font-family:'quattrocento sans';  
}


.parte1{
    border-top: 1px solid black;
}
.img1{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    font-family: 'quattrocento sans';
    font-size: 1vw;
    color: black;
    margin:auto;
    border-bottom: 1px solid black;
}
.testo1{
    font-family: 'quattrocento sans';
    font-size: 1.5vw;
    color: black;
    flex-direction: column;
    line-height: 2vw;
    width: 60%;
    margin: auto;
   
}
.parte2{
    border-bottom: 1px solid black;
}

.titolii h1{
    font-family: 'lucyRose';
    font-size: 4vw;
    color: black;
    display: flex;
    justify-content: center;
}
.titolii h4{
    font-family: 'Cormorant Italic';
    font-size: 2vw;
    color: black;
    display: flex;
    justify-content: center;
}
.poesia{
    font-family: 'quattrocento sans';
    font-size: 1.1vw;
    line-height: 2vw;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: -7% 0%;
}
.poesia p{
    margin: -7% 0%;
}
.cosini{
    width: 25%;
}
.figlio{
    display: flex;
    justify-content: center;
}


footer{
    margin:2px;
    border-top:1px solid black; 
    padding: 2% 10%;
    border-bottom:2px solid black; 
}
.social{
    display: flex;
    justify-content: center;
}
.png{
     width: 10%;
} 
.centrato{
    display: flex;
    flex-direction: column;
    align-items: center;   
}   
.colonnasx{
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid black;
    padding-right: 4%;
    text-align: center;
}
.colonnadx{
    display: flex;
    flex-direction: column;
    width: 10%;
    border-left: 1px solid black;
    padding-left: 4%;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
video{
  width: 100%;
  margin: auto;
}
footer h1{
    font-family: 'lucyRose';
    margin-top: 10px;
    margin-bottom: 10px;
}
footer p{
    font-family: 'Cormorant Italic';
    margin-top: 10px;
    
}
footer a{
    font-family: 'quattrocento sans';
}
@media (max-width: 750px) {
    .img1{
        font-size: 2vw;
    }
    .testo1{
        font-size: 3vw;
        line-height: 4vw;
        width: 80%;
    }
    .titolii h1{
        font-size: 5vw;
    }
    .titolii h4{
        font-size: 4vw;
    }
    .poesia{
        font-size: 3vw;
        line-height: 4vw;
    }
    nav{display: none;}
    footer{border: none;
        padding-bottom: 5%;}
        .colonnasx{
            display: flex;
           flex-direction: row;
           justify-content: space-around;
            padding: 2% 0% 2% 0%;
            width: 100%;
            border: none;
        }
        .colonnadx{
           display: none;
        }
        .png{
            display: none;
        }
}